*
:after
:before 
  box-sizing border-box
  margin 0
  padding 0
  border 0

//Подключение mixins
@import "mixins/grid.styl"
@import "mixins/modal.styl"


//Формирование модульной сетки
grid-columns = 16
grid-gutter-width = 20px

.row
  row()
  
  col('s')
  @media (min-width: 768px)
    col('m')
  @media (min-width: 1200px)
    col('l')

//БЛОКИ
.page
  color #000
  width 100%
  background #fff
  font-family 'Proxima-Nova'
  font-weight normal
  font-style normal

.container
  margin-right auto
  margin-left auto
  padding-left (grid-gutter-width / 2)
  padding-right (grid-gutter-width / 2)

  @media (min-width: 768px)
    &
     width 750px
     padding-left 0
     padding-right 0

  @media (min-width: 1200px)
    &
     width 1170px
     padding-left 0
     padding-right 0

.container-fluid
  margin-right auto
  margin-left auto


//////////////////////
/////////////////////
.row
  margin-top 10px
.row__col
  border-left 10px solid #F2B8B8
  border-right 10px solid #F2B8B8
  background #9FBEF7
  font-size 16px
  line-height 2em
.modalopen
  display table
  margin auto
  padding 10px
  background #ddd
  margin-bottom 20px
