include ../vender/bemto/bemto.jade

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
      block title
    link(href='_/favicon.png' rel='shortcut icon' type='image/x-icon')
        
    block css

  body
    block before
    block content
    block after
    block js