.modal
  opacity 0
  position fixed
  left 0
  top 0
  height 100%
  width 100%
  overflow-x hidden
  overflow-y auto
  visibility hidden
  background-color rgba(0, 0, 0, .5)
  transition opacity 0.3s 0s, visibility 0s 0.3s
  z-index 1000

  &_is-visible 
    opacity 1
    visibility visible
    transition opacity 0.3s 0s, visibility 0s 0s

  &_is-visible>&__container
    transform translateY(0)

  &__container 
    z-index 1020
    position relative
    width 90%
    max-width 350px
    margin auto
    background #fff
    padding 25px 20px 20px 20px
    border-radius 2px
    margin-top 6em
    margin-bottom 6em
    transform translateY(-40px)
    transition-property transform
    transition-duration 0.3s 

  &__close 
    position absolute
    top 2px
    right 2px
    width 20px
    height 20px
    cursor pointer

    &:before, &:after 
      content ''
      position absolute
      top 10px
      width 20px
      height 1px
      background-color #818181

    &:before 
      transform rotate(45deg)
    
    &:after 
      transform rotate(-45deg)

.modal-open
  overflow hidden
