extends ../layout.jade

block title
  |---

block css
  //build:css css/index.css
  link(href='vender/normalize.css/normalize.css', rel='stylesheet')
  link(href='css/fonts.css', rel='stylesheet')
  link(href='css/main.css', rel='stylesheet')
  //endbuild

block js
  //build:js scripts/index.js
  script(src="vender/jquery/dist/jquery.js")
  script(src="vender/jquery.nicescroll/dist/jquery.nicescroll.min.js")
  //-script(src="vender/jquery.validate/dist/jquery.validate.min.js")
  script(src="scripts/main.js")
  script(src="scripts/modal.js")
  //endbuild

block before

block after
  include ../modals.jade

block content
  div(style="text-align: center;")
    img(src="images/g.jpg")
    div(style="margin-bottom: 50px; font-size: 20px; line-height: 1.2em; font-family: verdana;") Я Вас категорически приветствую!
  .modalopen Открыть!
  .container
    +b.row
      +e.col._s_16._m_8._l_4 s_16 &nbsp;&nbsp; m_8 &nbsp;&nbsp; l_4
      +e.col._s_16._m_8._l_4 s_16 &nbsp;&nbsp; m_8 &nbsp;&nbsp; l_4
      +e.col._s_16._m_8._l_4 s_16 &nbsp;&nbsp; m_8 &nbsp;&nbsp; l_4
      +e.col._s_16._m_8._l_4 s_16 &nbsp;&nbsp; m_8 &nbsp;&nbsp; l_4
    +b.row
      +e.col._s_8._m_10._l_3 s_8 &nbsp;&nbsp; m_10 &nbsp;&nbsp; l_3
      +e.col._s_8._m_6._l_4 s_8 &nbsp;&nbsp; m_6 &nbsp;&nbsp; l_4
      +e.col._s_8._m_10._l_5 s_8 &nbsp;&nbsp; m_10 &nbsp;&nbsp; l_5
      +e.col._s_8._m_6._l_4 s_8 &nbsp;&nbsp; m_6 &nbsp;&nbsp; l_4
    +b.row
      +e.col._s_5._s_offset_4 s_5 &nbsp;&nbsp; s_offset_4
      +e.col._s_5._s_offset_1 s_5 &nbsp;&nbsp; s_offset_1
